$color-error: #000;
$color-invert: invert($color-error);

h1.hola{
color: $color-invert;
}

//son reglas que realizan cambios o calculos y dan un valor. Funciona con colores, números etc 

$arrayfontsize: (
  big: 50px,
  normal: 16px,
  small: 14px,
  x-small: 12px
);

.funciones {

    h1{
        font-size: map-get($arrayfontsize, big);
        color: $colorprueba;
    }
    p{
        font-size: map-get($arrayfontsize, small);
    }    
  }
  
