@mixin avatar($size, $circle: false) {
    width: $size;
    height: $size;
    margin: 20px;
    float: left;
      
    @if $circle {
      border-radius: $size / 2;
      background-color: red;
    }

    @else {
        background-color: blue;
      }
  }
  
  .square { @include avatar(100px, $circle: false); }
  .circle { @include avatar(100px, $circle: true); }