@mixin cuadrado($bcolor, $t) {
    width: $t;
    height: $t;
    background-color: $bcolor;
    margin: 10px;
    float: left;
}

.cuadrado-1{
    @include cuadrado(green, 30px);
    position: fixed;
    top: 20px;
    left: 20px;
}

.cuadrado-2{
    @include cuadrado(blue, 100px);
}

.cuadrado-3{
    @include cuadrado(red, 500px);
}

//--------------------------------------

@mixin responsivo($width) {
    @media screen and (max-width: $width) {
      @content;
    }
}
  
section.mixin {
    background: yellowgreen;
    @include responsivo(800px) {
      background-color: whitesmoke;
    };
    width: 100%;
    height: auto;
    overflow: auto;

}