$font-stack:    Helvetica, sans-serif;
$primary-color: rgb(7, 1, 1);
$colorprueba: red;

body {
  font: 100% $font-stack;
  background-color: $primary-color;
  color: white;
}

section {
  width: 100%;
  padding: 40px 0;
  margin: 0 auto;
  max-width: 1000px;
}



@import "anidaciones";
@import "mixin";
@import "extend";
@import "funciones";
@import "ciclos";

/* muestrame */